.bg-brandpink {
    background: #FF4261;
}

.brandpink {
    color:#FF4261;
}

.brandgrey {
    color: #313131;
}

.colorblack {
    color: rgb(0, 0, 0);
}

.BigFont {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    /* vertical-align: center; */
  }

.HeaderFont {
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    font-style: normal;
    align-items: left;
    text-align: left;
    /* vertical-align: center; */
}

.MidFont {
    font-size: 26px;
    margin: 16px 0 16px;
    padding:20px 0px 0px 15px;
    font-weight: 700;
    // display: flex;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    margin: 0 0 16px;
}

p.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #313131;
    mix-blend-mode: normal;
}

p.chart_title {
    font-size: 18px;
    line-height: 18px;
    color: #878787;
    mix-blend-mode: normal;
    font-style: normal;
    font-weight: 700;
}

.headd {
    padding-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: #333;
}

p.summ, p.total {
    color: #ff4261;
    mix-blend-mode: normal;
}

p.summ {
    padding-top: 20px;
    font-size: 72px;
    line-height: 72px;
}

p.total.line {
    border-bottom: 1px solid #c6c6c6;
    padding-top: 20px;
    padding-bottom: 20px;
}

p.total {
    line-height: 36px;
    font-size: 36px;
}

p.subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: #ff4261;
    background-color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}

.column, .flex, .row {
    display: flex;
    flex-wrap: wrap;
}



div.line {
    border-right: 1px solid #c6c6c6;
    padding-left: 15px;
}

.disFlex {
    display: flex;
}