.bg-brandpink {
    background: #FF4261;
}

.bg-LPink {
    background: #ffecef;
}

.brandpink {
    color:#FF4261;
}

.brandgrey {
    color: #313131;
}

.colorblack {
    color: rgb(0, 0, 0);
}

.BigFont {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
}

.HeaderFont {
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    font-style: normal;
    align-items: left;
    text-align: left;
}

.MidFont {
    font-size: 26px;
    margin: 16px 0 16px;
    padding:20px 0px 0px 15px;
    font-weight: 700;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    margin: 0 0 16px;
}

p.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #313131;
    mix-blend-mode: normal;
}

p.chart_title {
    font-size: 18px;
    line-height: 18px;
    color: #878787;
    mix-blend-mode: normal;
    font-style: normal;
    font-weight: 700;
}

.headd {
    padding-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: #333;
}

p.summ, p.total {
    color: #ff4261;
    mix-blend-mode: normal;
}

p.summ {
    padding-top: 20px;
    font-size: 72px;
    line-height: 72px;
}

p.total.line {
    border-bottom: 1px solid #c6c6c6;
    padding-top: 20px;
    padding-bottom: 20px;
}

p.total {
    line-height: 36px;
    font-size: 36px;
}

.ttlcll {
    font-size: 50px;
    line-height: 50px;
    color: #ff4261;
    font-weight: 700;
    mix-blend-mode: normal;
}

.callName {
    font-weight: 700;
    font-size: 18px;
}

p.subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: #ff4261;
    background-color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}

.column, .flex, .row {
    display: flex;
    flex-wrap: wrap;
}

.indiText{
    color: #313131;
    font-size: 20px;
    line-height: 24px;
}

.indiPinkText {
    font-size: 30px;
    line-height: 30px;
    color: #ff4261;
}

.indiText, .indiPinkText {
    font-weight: 700;
    mix-blend-mode: normal;
}


div.line {
    border-right: 1px solid #c6c6c6;
    padding-left: 15px;
}

div.documents {
    margin-top: 125px!important;
}

.disFlex {
    display: flex;
}

.scroll, .scroll-x, .scroll-y {
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

.q-table.thead, .q-table.tr {
    border-color: rgba(0,0,0,0.12);
}

.q-table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.head {
    background-color: #ff4261!important;
    position: sticky;
    z-index: 2;
    color: #fff;
    font-size: 14px!important;
}