/* app global css */
.bg-colorPink {
    background: #FF4261;
}

.colorPink {
    color:#FF4261;
}

.colorGrey {
    color: #313131;
}

.bigFont {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    /* vertical-align: center; */
  }

.midFont {
    font-weight: 700;
    font-size: 26px;
    line-height: 25px;
    font-style: normal;
    align-items: left;
    text-align: left;
    /* vertical-align: center; */
}